<div *ngFor="let item of news" class="card text-center mt-5" style="width: 500px;">
    <div class="card-header">
      {{ item.title }}
      <a *ngIf="item.archiveDate == null" (click)="archiveNews(item)" class="btn btn-primary">Archive</a>
      <a *ngIf="item.archiveDate != null" (click)="deleteNews(item)" class="btn btn-danger">Delete</a>
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ item.description }}</h5>
      <p class="card-text"><small class="text-muted">{{ item.date | date:'medium' }}</small></p>
      <p class="card-text">{{ item.content }}</p>
      <cite title="Source Title">{{ item.author }}</cite>
    </div>
</div>
